.custom-nav {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
   background: #fff;
   color: #1d1c1c;
   box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.navbar-name {
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: bolder;
   letter-spacing: 5px;
}

.container-fluid {
   padding: 0 4rem;
}

.navbar-nav {
   margin-left: auto;
   margin-right: 0 !important;
}

.nav-item {
   padding: 0 2.5rem;
   display: inline-block;
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 700;
   transition: color 0.3s;
}

.nav-link {
   color: #333 !important;
}

.nav-link:hover {
   color: #01ddebe9 !important;
}

/* styling for hero banner and intorduction title */
.hero-banner {
   position: relative;
   background: url(../images/hero-banner.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
}

.intro-text {
   display: block;
   position: absolute;
   top: 25%;
   left: 10%;
   text-align: left;
}

.hero-banner h1 {
   color: #ffffff;
   font-family: "Open Sans", sans-serif;
   font-size: 7vw;
   font-style: normal;
   font-weight: 700;
   letter-spacing: -3px;
   text-transform: none;
}
