/* Custom styling for Navigation bar */
.custom-nav {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
   background: #fff;
   color: #1d1c1c;
   box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.navbar-name {
   text-transform: uppercase;
   font-weight: bolder;
   font-size: xx-large;
   letter-spacing: 5px;
}

.container-fluid {
   padding: 0 4rem;
}

.navbar-nav {
   margin-left: auto;
   margin-right: 0 !important;
}

.nav-item {
   padding: 0 2rem;
   display: inline-block;
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 700;
   transition: color 0.3s;
}

.nav-link {
   color: #333 !important;
}

.nav-link:hover {
   color: #01ddebe9 !important;
}

/* styling for hero banner and intorduction title */
.hero-banner {
   position: relative;
   background: url(../images/hero-banner.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
}

.intro-text {
   display: block;
   position: absolute;
   margin-top: 25vh;
   margin-left: 10vw;
   text-align: left;
   line-height: 3vh;
}

.hero-banner h1 {
   color: #ffffff;
   font-family: "Open Sans", sans-serif;
   font-size: 5.5vw;
   font-style: normal;
   font-weight: 700;
   letter-spacing: -3px;
   text-transform: none;
}

/* styling for skills section */
.skill-title {
   font-weight: 700;
   font-size: 2.5rem;
   margin-bottom: 2rem;
}

.skill-items {
   display: flex;
   flex-wrap: wrap;
}
.skill-items div {
   padding: 1rem 1.5rem;
   margin-bottom: 1rem;
   margin-right: 1rem;
   font-size: 1.2rem;
   background: rgba(0, 0, 0, 0.85);
   border-radius: 5px;
   font-weight: 600;
   color: #ffffff;
}
.skill-items > div:hover {
   color: #000000;
   background-color: #01ddebe9;
   border-color: #01ddebe9;
}

/* bootstrap button styling */
.btn-dark:hover {
   color: #000000;
   background-color: #01ddebe9;
   border-color: #01ddebe9;
}

/* social media icons styling */
.socialicons {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 2rem;
}

.icon {
   width: 50px;
   height: 50px;
   box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.05);
   margin: 0 20px;
   text-align: center;
   line-height: 50px;
   font-size: 20px;
   text-decoration: none;
   color: #000;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
}
.icon:after {
   content: "";
   width: 80px;
   height: 80px;
   z-index: -1;
   position: absolute;
   bottom: -80px;
   left: 0;
   background: #01ddebe9;
   transition: 0.2s;
}
.icon:hover {
   color: #fff;
}
.socialicons > a:hover::after {
   bottom: 0;
}

/* Styling for media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .navbar-name {
      text-transform: uppercase;
      font-weight: bolder;
      font-size: large;
      letter-spacing: 5px;
   }
   .hero-banner {
      position: relative;
      background: url(../images/hero-banner-portrait.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
   }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
